.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*.pdf
MiSeq_SOP
.DS_Store
*.csv
Elisabeth M. Bik, Elizabeth K. Costello, Alexandra D. Switzer, Benjamin J. Callahan, Nature, 2016, SI
!Michael I Love, 2014, tutorial, Beginner's guide to using the DESeq2 package.pdf
Susan, Holmes