.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*.pdf
MiSeq_SOP
.DS_Store
*.csv
Elisabeth M. Bik, Elizabeth K. Costello, Alexandra D. Switzer, Benjamin J. Callahan, Nature, 2016, SI
!Michael I Love, 2014, tutorial, Beginner's guide to using the DESeq2 package.pdf
Susan, Holmes
微生太宏基因组结题报告模板-基于组装2019.7.9
微生太宏基因组结题报告模板-基于reads-2019.7.9
UW SISBID Big Data
UW SISMID Microbiome Class
Canadian Bioinformatics Workshop
Xochitl C. Morgan, Curtis Huttenhower, PLoS, Chapter 12- Human Microbiome Analysis